@import "tailwindcss";

@theme {
  --color-bears-bg: #2B2B2B;
  --color-bears-text: #E1E1E1;
  --color-bears-accent: #C50E1F;
  --color-bears-accent-muted: #A00B19;
}

body {
  background-color: var(--color-bears-bg);
  color: var(--color-bears-text);
}